beautifulsoup4
cartopy
coverage
numpy>=1.25.0 # test suite will fail if user installed lower than this
geocube
gtfs_kit==5.2.7
ipykernel==6.23.1
kaleido
mapclassify
munkres # new parent import flagged pipdeptools
nbformat
plotly
pre-commit
pretty_html_table
pyprojroot
pytest-lazy-fixture
pytest-mock
r5py==0.1.0
scikit-image
seaborn
sphinx-rtd-theme
toml
